.css-snypnv-MuiTableCell-root {
    font-size: 16px!important;
}

.css-1fmcalr-MuiTableCell-root,
.css-14tuz60-MuiTableCell-root {
  color:white !important;
  border: 1px solid white;
}

.css-1pyo5xl-MuiTableCell-root {
  border: 1px solid white;

}

.css-snypnv-MuiTableCell-root{
  border-right: 1px solid black
}
.css-5dc31z{
  border-right: 1px solid black;
}