body {
    font-family: 'Open Sans', sans-serif!important;
}
html {
    font-family: 'Open Sans', sans-serif!important;
}
* {
    font-family: 'Open Sans', sans-serif!important;
}

p {
    font-family: 'Open Sans', sans-serif!important;
}
h1 h2 h3 h4 h5 {
    font-family: 'Open Sans', sans-serif!important;
}

button {
    font-family: 'Open Sans', sans-serif!important;
}

span {
    font-family: 'Open Sans', sans-serif!important;
}

div {
    font-family: 'Open Sans', sans-serif!important;
}

select {
    font-family: 'Open Sans', sans-serif!important;
}

table {
    font-family: 'Open Sans', sans-serif!important;
}
ul {
    font-family: 'Open Sans', sans-serif!important;
}

i {
    font-family: 'Open Sans', sans-serif!important;
}

label {
    font-family: 'Open Sans', sans-serif!important;
}

main {
    font-family: 'Open Sans', sans-serif!important;
}

nav {
    font-family: 'Open Sans', sans-serif!important;
}

